body {
	background-color: cornflowerblue;
	margin: 12px;
	min-height: 150vh;
	max-height: 150vh;
	padding-bottom: 40px;
}

button {
	padding: 12px;
	border-radius: 8px;
	background-color: darkblue;
	color: whitesmoke;
	font-size: 1.8ch;
	font-weight: bold;
}

input {
	max-width: 20vw;
}

a {
	border: 2px solid blue;
	padding: 1px;
	background-color: blue;
	color: white;
	border-radius: 5px;
}

.Error {
	color: white;
	background-color: red;
	border-radius: 5px;
	padding: 2px;
	font-size: large;
}

.curUser {
	border: 2px solid blue;
	padding: 1px;
	background-color: blue;
	color: white;
	border-radius: 5px;
	font-size: 3ch;
	max-width: 10vw;
}

.title {
	color: black;
	text-align: center;
	align-self: center;
}

.addPost {
	min-width: 30vw;
	max-width: 40vw;
	margin-bottom: 10px;
	padding: 15px;
	background: lightblue;
	border: 1px solid black;
	border-radius: 8px;
}

.postInput {
	min-width: 30vw;
	min-height: 30vh;
}

.postArea {
	background-color: lightcyan;
	border-radius: 10px;
	padding: 12px;
	border: 1px solid darkgray;
	overflow-y: scroll;
	max-height: 80vh;
	margin-bottom: 20px;
	margin-top: 20px;
}

.post {
	background-color: lightblue;
	padding: 10px;
	border-radius: 10px;
	margin: 5px;
	max-width: 100vw;

}

.options {
	display: inline;
}

.time {
	color: darkblue;
}