<!DOCTYPE html>
<html>

	<head>
		<title>Sign In</title>
		<link rel="stylesheet" href="/styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<h1 class="title">Sign In</h1>
		<a href="index">Home</a>
		<a href="signUp">Sign Up</a>
		<hr>
		<form action="/attemptSignIn" method="POST" class="addPost">
			<h2>Sign In</h2>


			<label for="user_id">Username:</label>
			<input type="text" name="user_id" required maxlength="30">
			<br>

			<label for="password">Password:</label>
			<input type="text" name="password" required maxlength="12">
			<br>
			<button type="submit">Sign Up</button>
			<p class="Error"> <%= message %></p>
	  	</form>


		

	</body>

</html>